<!DOCTYPE html>
<html>

<head>
<title>RentACamp</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">RentACamp</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- this is the logic for only showing the appropriate buttons -->
                <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up </a></li>
                <% }else{ %>
                    <li><a href="#">Signed in as <%= currentUser.username %></a></li> <!-- This is the logic that carried the signed in user -->
                    <li><a href="/logout">Logout</a></li>
                <% } %>


            </ul>
        </div>
    </div>
</nav>

<!--in the next sextion "error" and "success" are coming from app.use res.locals thing in the app.js-->
<!-- having this in the header means that whenever we want to show a message we just need to flash before redirect and it is already there in the header using ejs -->
<div class="container">
    <% if(error && error.length > 0){ %><!--if we have the res.locals.error && the array of errors is > 0 (because having an empty array is TRUTHY)-->
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div> 
    <% } %> 
    <% if(success && success.length > 0){ %>   
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div> 
    <% } %>
</div>   
